<footer>
  <div id="footer">
  <a href="https://github.com/joergi">github</a> | <a href="https://twitter.com/joergi_77">twitter</a> | <a rel="me" href="https://chaos.social/@joergi">Mastodon</a> | <a href="https://stackoverflow.com/users/863403/joergi">stackoverflow</a><br/>
    <font style="color:#222222; font-size:0.8em">the nice github logo on top left is build by <a href="https://github.com/tholman/github-corners">@tholman</a> | 
        the nice RSS logo on top is build by <a href="https://rss-corners.joergi.io">@joergi</a> | got some input from the github page from <a href="https://github.com/dzhavat/dzhavat.github.io">dzhavat</a></font>
  </div>
</footer>
